body {
  font-family: "Syncopate", sans-serif;
  margin: 0;
  overflow: hidden;
  background: #fff;
}

/* Styles for the image container */
#about-us-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

@media (min-width: 768px) {
  .about-us-desktop {
    display: flex;
  }
  .about-us-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .about-us-desktop {
    display: none;
  }
  .about-us-mobile {
    display: flex;
  }
}

/* image background styles for the studio page */

@media (min-width: 1536px) {
  #about-us-desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vw;
    z-index: -1;
    object-fit: cover;
  }
}
@media (max-width: 1536px) {
  #about-us-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vw;
    z-index: -1;
    object-fit: cover;
  }
}
/* Logo styles */
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  width: 40%;
  margin-left: 25px;
  top: 20px;
  left: 15px;
}

.logo img {
  width: 20%;
  height: auto;
  transform: translate(-50%, -50%);
  top: 20px;
  left: 15px;
}

@media (max-width: 768px) {
  .logo img {
    width: 16%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 16px;
    left: 12px;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 12px;
    left: 10px;
  }
}
