body {
    font-family: "Syncopate", sans-serif;
    margin: 0;
    overflow: hidden;
    background: #ffffff;
}

/* Logo styling */
.logo {
    position: fixed;
    top: 1.5rem; /* Use rem for better scaling */
    left: 1.5rem;
    z-index: 10;
}

/* Responsive logo size */
.logo img {
    width: 10%; /* Use percentage for scalability */
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-around; /* This will distribute space around items */
    align-items: right;
    position: fixed;
    top: 0;
    right: 10;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    z-index: 1;
}

.menu a {
    text-decoration: none;
    color: #a5c989; /* Adjust the color as needed */
    font-style: bold;
    padding: 0.5rem;
}

.menu li {
    display: inline-block;
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Prompt and description text styles */
.page-section {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    max-width: 600px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 150px;
}

@media (max-width: 500px) {
.page-section button {
  max-width: 600px;
  top: 80%;
  left: 50%;
  padding: 24px 150px;
  background-color: #ac5989;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Syncopate", sans-serif;
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

  .page-section .description { font-weight: regular; }

/* Button styling */

input {
    max-width: 400px;
    top: 80%;
    left: 50%;
    padding: 10px; 
    width: 100vw;
    margin-bottom: 10px;
    border: 2px solid #ac5989;
    border-radius: 40px;
    font-family: "Syncopate", sans-serif;
    display: flex;
    padding: 24px 150px;
    font-size: 20px;
    align-items: left;
}

form {
    max-width: 400px;
    top: 80%;
    left: 50%;
    padding: 10px;
    width: 100vw;
    margin-bottom: 10px;
    border: 2px solid #ac5989;
    border-radius: 40px;
    font-family: "Syncopate", sans-serif;
    display: flex;
    padding: 24px 150px;
    font-size: 20px;
    align-items: left;
}

button {
    max-width: 400px;
    top: 80%;
    left: 50%;
    padding: 24px 150px;
    width: 100vw;
    background-color: #ac5989;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Syncopate", sans-serif;
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;  
}

.notification {
    top: 80%;
    left: 50%;
    margin-top: 10px;
    color: #000000;
}

#emailButton {
  display: block;
}    
    
#principles-Display {
  display: block;
}

#enter-information {
  display: none;
}

#form-submission {
  display: none;
}

#name {
  display: none;
  margin-left: 25%;
}

#email {
  display: flex;
  margin-left: 25%;
}

#information-div {
  display: none;
}
