body {
    font-family: "Syncopate", sans-serif;
    margin: 0;
    overflow: hidden;
    background: #ffffff;
}

/* Fixed background video or image */
.background-media {
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 105vh;
    object-fit: cover;
    z-index: -1;
}

/* Logo styling */
.logo {
    position: fixed;
    top: 1.5rem; /* Use rem for better scaling */
    left: 1.5rem;
    z-index: 10;
}

/* Responsive logo size */
.logo img {
    width: 10%; /* Use percentage for scalability */
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-around; /* This will distribute space around items */
    align-items: center; /* This will center items vertically */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    z-index: 1;
}

.menu a {
    text-decoration: none;
    color: #fff; /* Adjust the color as needed */
    padding: 0.5rem;
}

/* Add this to ensure the menu links are displayed inline */
.menu li {
    display: inline-block;
}

/* Media queries for different screen sizes */
@media (min-width: 1024px) { /* Desktops and larger tablets */
    .background-media #desktop-v {
        display: block;
    }
    .background-media #mobile-v {
        display: none;
    }
}

@media (max-width: 1023px) { /* Tablets and mobile devices */
    .background-media #desktop-v {
        display: none;
    }
    .background-media #mobile-v {
        display: block;
    }
}
