body {
    font-family: "Syncopate", sans-serif;
    margin: 0;
    overflow: hidden;
    background: #ffffff;
}

#desktop-v {
    position: fixed; /* Fixed position to cover the viewport */
    top: 0;
    left: 0;
    object-fit: cover; /* Cover the entire viewport */
    min-width: 100%; /* Minimum width of 100% */
    min-height: 100%;
    max-width: 100%;
    max-height: 100%; /* Minimum height of 100% */
    width: 100vw;
    height: 100vw;
    z-index: -1; /* Behind all other content */
    /*transform: translate(-50%, -50%);*/
}

@media (min-width: 768px) {
  .desktop-v {
    display: flex;
  }
  .mobile-v {
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop-v {
    display: none;
  }
  .mobile-v {
    display: flex;
  }
}

/* Menu styling */
.menu {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5vw 2vw; /* Responsive padding */
    background-color: transparent;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

/* Logo styling - assuming you want the logo to be a part of the HTML not CSS */
.logo {
    position: fixed;
    top: 1.5vw; /* Responsive padding */
    left: 1.5vw; /* Responsive padding */
    z-index: 10;
}

@media (max-width: 768px) {
  .logo img {
    width: 16%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 16px;
    left: 12px;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 12px;
    left: 10px;
  }
}

/* Content styles for studio page page sections */
.page-section {
    position: absolute;
    bottom: 43%;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    max-width: 600px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 24px 150px;
}

.page-section .description {
  font-weight: regular;
}

/* Button styling */
input {
  transition: all 0.5s;
  position: fixed;
  transform: translate(-50%, -50%);
  justify-content: center;
   max-width: 400px;
  padding: 10px; 
  margin-bottom: 10px;
  border: 2px solid #4d72a0;
  border-radius: 40px;
    font-family: "Syncopate", sans-serif;
    display: flex;
    top: 50%;
    left: 0%;
  padding: 24px 150px;
    font-size: 20px;
align-items: left;
}

/* Heading styles for studio page page sections */
.page-section h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .page-section h1 {
    font-family: "Aclonica", sans-serif;
    font-size: 21px;
    color: #ffffff;
  }
}

/* Button styles */
@media (max-width: 500px) {
  .page-section button {
    width: 100%;
    background-color: #5077a7;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: color 0.3s, border 0.3s;
    border: 1.5px solid #ffffff; /* Normal border style */
    cursor: pointer;
    font-size: 12px;
    font-weight: light;
    font-family: "Syncopate", sans-serif;
    /*white-space: nowrap;*/
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
}

/* Prompt and description text styles */
.page-section .prompt,
.page-section .description {
    position: absolute;
    bottom: 43%;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    max-width: 600px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 24px 150px;
}

button {
  max-width: 600px;
    top: 50%;
    left: 50%;
  padding: 24px 150px;
  background-color: #538BC3;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
    font-family: "Syncopate", sans-serif;
    display: inline-flex;
white-space: nowrap;
justify-content: center;
align-items: center;
font-size: 25px;
}

form {
  max-width: 600px;
    top: 50%;
    left: 50%;
  padding: 24px 150px;
  border: 2px solid #4d72a0;
  border-radius: 40px;
  font-family: "Syncopate", sans-serif;
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#first-studio-display {
  display: block;
}

#enter-industries {
  display: none;
}

#congrats-view {
  display: none;
}

#analyse-view {
  display: none;
}

#init-analyse {
  display: none;
}

#enter {
  font-size: 28px;
  font-family: "Aclonica", sans-serif;
}

#industry2 {
  display: flex;
  margin-left: 25%;
}

#industries-div {
  display: none;
}

#industry1 {
  display: none;
  margin-left: 25%;
}

