
@font-face {
      font-family: 'bold';
      font-style: normal;
      font-weight: 700;
      src: local('bold'), local('bold'), url(./assets/NeueMontreal-Bold.otf)format('truetype');
}
@font-face {
      font-family: 'regular';
      font-style: normal;
      font-weight: 500;
      src: local('regular'), local('regular'), url(./assets/NeueMontreal-Regular.otf)format('truetype');
}

body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #F6EBDF;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Syncopate", sans-serif;
}

.menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      flex: row;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      z-index: 1;
}
.logo {
      width: 100px;
      background-color: transparent;
}
.menu-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      margin-right: 2em;
}
.menu-items-link {
      text-decoration: none;
      color: #a5c989;
      font-weight: bold;
      font-size: 16px;
      font-family: "bold";
}
.menu-items-link:hover {
      text-decoration: underline;
}
#HomescreeVideoContainer {
      position: relative;
      /* padding-bottom: -100.25em; */
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      z-index: -1;
}

#HomescreeVideoContainer video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10%;
      width: 100vw;
      height: 100vh;
}
#openBtnCont {
      position: absolute;
      z-index: 1;
      bottom: 8%;
      left: 0;
      right: 0;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
}
#openBtn {
      color: white;
      background-color: #a5c989;
      border: none;
      padding: 12px;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      font-family: "bold";
      /* width: 50%; */
}
#openBtn:hover {
      text-decoration: underline;
}
#form-container {
      width:  90%;
      height:  33vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 12px;
      border: 1px solid #ccc;
      gap: 1em;
      transition: 0.1s;
}
.form-input {
      width: 100%;
      border-radius: 12px;
      border: none;
      padding: 13px;
      border: 1px solid #ccc;
      background-color: white;
      font-family: "regular";
      font-size: 17px;
      outline: none;
      text-align: center;
}
/* .form-input-new {
      width: 100%;
}
.form-input:hover {
      border: 2px solid #ccc;
} */
/* #form-btn {
      width: 100%;
      border-radius: 12px;
      border: none;
      padding: 15px;
      font-family: "bold";
      font-size: 16px;
      color: white;
      outline: none;
      background-color: #007AFF;
}
#form-btn:hover {
      text-decoration: underline;
} */
#popup {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
}
#popup::placeholder {
      color: white;
      font-family: "regular";
}

@media (min-width: 760px) {
#form-container {
      width: 90%;
      height: 29vh;
}
#popup {
      width: 100%;
}
.menu-items-link {
      font-size: 18px;
}
.menu-items {
      gap: 3em;
      margin-right: 3em;
}
}
@media (max-width: 480px) {
      .menu-items-link {
            font-size: 16px;
      }
            #openBtnCont {
                  width: 90%;
            }
}
@media (max-width: 370px) {
.menu-items-link {
      font-size: 12px;
}
.logo {
      width: 85px;
}
}



body,
html {
      height: 100%;
      margin: 0;
      padding: 0;
}

#background-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: -1;
}

#blur {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(170,190,170,0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 2;
      font-family: "regular";
      backdrop-filter: blur(20px);
}
#blur p {
      font-family: "regular";
      padding: 20px;
      text-align: center;
}


@media (max-width: 480px) {
      .menu-items-link {
            font-size: 16px;
      }
}

@media screen and (orientation: landscape) {
      #blur {
            display: flex;
      }
}