.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  object-fit: cover;
}

.flex-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.2225%;
  overflow: hidden;
  border-radius: 8px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.iframe-container::-webkit-scrollbar {
    display: none;
}

.iframe::-webkit-media-controls-panel {
    display: none !important;
    opacity: 0 !important;
}

/* Make it responsive */
@media (min-width: 768px) {
  .iframe-container {
    padding-top: 15%; /* Adjust the padding-top value based on your needs */
  }
}

@media (min-width: 1024px) {
  .iframe-container {
    padding-top: 10%; /* Adjust the padding-top value based on your needs */
  }
} 

@font-face {
      /*font-family: 'regular';*/
      font-style: normal;
      font-weight: 500;
      src: local('regular'), local('regular'), url(./assets/NeueMontreal-Regular.otf)format('truetype');
}

body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #ffffff;
}

.menu {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Adjust the background color and opacity */
  z-index: 3; /* Higher z-index to overlay the menu */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-icon {
  height: 10%;
  width: 25%;
  right: 10px; /* Adjust as needed */
}

.dropdown-menu {
  position: absolute;
  top: 15px; /* Adjust distance from the top */
  right: 50px; /* Adjust distance from the right */
  background-color: #2a3a23;
  border: 1px solid #ccc;
  height: 35%;
  width: 35%;
  padding: 10px;
  list-style: vertical;
  z-index: 2;
}

.dropdown-menu li {
  margin-bottom: 3px; /* Adjust margin between menu items */
}

.menu-items-link {
  text-decoration: none;
  color: #007AFF; /* Change the text color to blue */
  font-size: 18px; /* Increase the font size */
  font-family: 'regular'; /* Change the font family to bold */
  padding: 10px;
  display: block;
  border-bottom: 1px solid #fff; /* Add a white border-bottom */
}

.menu-items-link:last-child {
  border-bottom: none; /* Remove the border-bottom from the last menu item */
}

.logo-link {
  text-decoration: none;
}

.logo {
      width: 150px;
      left: 5;
      background-color: transparent;
}

#openBtnCont {
      position: absolute;
      z-index: 1;
      bottom: 20%;
      left: 5%;
      right: 0;
      width: 30%;
      transform: translateX(-50%);
}
#openBtn {
      color: white;
      background-color: #2a3a23;
      border: none;
      padding: 12px;
      border-radius: 25px;
      outline: none;
      cursor: pointer;
      font-family: "regular";
      /* width: 50%; */
}
#openBtn:hover {
      text-decoration: underline;
}
#form-container {
      width:  90%;
      height:  33vh;
      position: absolute;
      left: 5%;
      top: 80%;
      /*transform: translate(-50%, -50%);*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
      border-radius: 25px;
      border: 1px solid #ccc;
      gap: 1em;
      transition: 0.1s;
}
.form-input {
      width: 100%;
      border-radius: 12px;
      border: none;
      padding: 13px;
      border: 1px solid #ccc;
      background-color: white;
      font-family: "regular";
      font-size: 17px;
      outline: none;
      text-align: center;
}
/* .form-input-new {
      width: 100%;
}
.form-input:hover {
      border: 2px solid #ccc;
} */
/* #form-btn {
      width: 100%;
      border-radius: 12px;
      border: none;
      padding: 15px;
      font-family: "bold";
      font-size: 16px;
      color: white;
      outline: none;
      background-color: #007AFF;
}
#form-btn:hover {
      text-decoration: underline;
} */
#popup {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
}
#popup::placeholder {
      color: white;
      font-family: "regular";
}

@media (min-width: 760px) {
#form-container {
      width: 90%;
      height: 29vh;
}
#popup {
      width: 100%;
}
.menu-items-link {
      font-size: 18px;
}
.menu-items {
      gap: 3em;
      margin-right: 3em;
}
}
@media (max-width: 480px) {
      .menu-items-link {
            font-size: 16px;
      }
            #openBtnCont {
                  width: 90%;
            }
}

@media (max-width: 370px) {
.menu-items-link {
      font-size: 12px;
}
.logo {
      width: 85px;
}
}

body,
html {
      height: 100%;
      margin: 0;
      padding: 0;
}

#background-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: -1;
}

#blur {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(170,190,170,0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 2;
      font-family: "regular";
      backdrop-filter: blur(20px);
}
#blur p {
      font-family: "regular";
      padding: 20px;
      text-align: center;
}

@media (max-width: 480px) {
      .menu-items-link {
            font-size: 16px;
      }
}

@media screen and (orientation: portrait) {
      #blur {
            display: flex;
      }
}
